@tailwind base;
@tailwind components;
@tailwind utilities;

#burger.active #top-bar {
  transform: rotate(45deg) translate(-2px, -1px);
  transform-origin: 0px 100%;
}

#burger.active #bottom-bar {
  transform: rotate(-45deg) translate(-2px, -1px);
}

#burger.active #bar {
  opacity: 0;
}

:root {
  --background: #cec5c5;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0a0a0a;
    --background: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.5s ease-out forwards;
}
